@model ZodiacSign.Models.UserZodiacSignModel

<div id="form-container" class="container-fluid w-25 p-3">
    <form asp-action="ZodiacSign" class="form" method="post">
        <div class="form-group">
            <h2>Fecha&nbsp;de&nbsp;Nacimiento:</h2>
            <label for="Day">Día</label>
            <input asp-for="Day" type="number" class="form-control" id="Day" name="Day" min="1" max="31" required>
            <label for="Day">Mes</label>
            <input asp-for="Month" type="number" class="form-control" id="Month" name="Month" min="1" max="12" required>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Determinar Signo</button>
    </form>
</div>