@model ZodiacSign.Models.UserZodiacSignModel

<div class="container-fluid w-25 mt-0 align-content-center">
    <h3>Tu&nbsp;signo&nbsp;zodiacal&nbsp;es: </h3>
    <p class="fw-bold">@Model.ZodiacSign</p>
</div>